.getinvoledcontainer{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0rem;
}

.eventcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;
    margin: 0 auto;
    width: 90%;
}

.specialimagecontainer{
    margin: 0 auto;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


p{
    font-family: roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    margin: 10px auto;

}


.headtext
{
    
    font-family: 'Indie Flower', cursive;
    margin: 2rem auto;
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
}

.containerbackground{
    background-color: #1E1E1E;
    width: 100%;
    border-bottom: 1px solid #E6D6B5;

}
.whitetext{
    color: white;
    border-bottom:1px solid #E6D6B5;
    
}
.headtext{
    border-bottom:1px solid #E6D6B5;

}

.whitetext{
    width: 100%;
    padding-top: 1rem;
}


.visitbtn{
    display: flex;
    margin: 0 auto;
    background-image: linear-gradient(to left,#E6D6B5,#E6D6B570,#E6D6B5,#E6D6B590,#E6D6B5);
    background-size: 200%;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.6s;
    padding: 0.5rem 1rem;
}
.visitbtn a{
    font-family: 'Indie Flower', cursive;
    text-decoration: none;
    color: #000000;
}
.visitbtn:hover{
    background-position: right;
}


@media screen and (min-width: 768px) {

    
    .specialimagecontainer{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

    .eventcontainer{
        flex-direction: row;
        width:90%;
        margin: 0 auto;
    }

    .headtext{
        font-size: 2.2rem;
    }

    .visitbtn a{
        font-size: 1.5rem;
    }
    .whitetext{
        padding-bottom: 2rem;
        }

}

.contact-container{
    width: 90%;
}

.form-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  width: 100%;
  
}
.contact-form-text{
    background-color: #1E1E1E;
    color: white;
}

.form{
  display: flex;
  justify-content: start;
}

.form-container input {
  margin-bottom: 1rem;
}



.contact-h2{
  margin-bottom: 1rem;
}

.form-p{
  margin-bottom: 2rem;
}

.is-valid{
  border: 1px solid green;
}

.is-invalid{
  border: 1px solid red;
}
.errormessage{
    color: red;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
  }
  