

body {
    background: linear-gradient(178deg, #e6d6b5, #000000, #000000);
    background-size: 600% 600%;
    animation: AnimationName 10s ease;
    animation-fill-mode: forwards;
    will-change: background;
    transform: none;
    /* i added transform none because the transform bugs out the hamburger menu on mobile version, but i need it in desktop as it smoothens the animation */


  }
  
  @keyframes AnimationName {
    0%{background-position:65% 0%}
    100%{background-position:0% 100%}
    
}
.headtext,
.eventtext {
    color: white;
    animation: fadeIn 10s;
    /* animation-delay: 2s; */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.eventcontainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 1rem;
}
.headtext{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.eventtext{
text-align: center;
}
.readmore{
  margin: 0;
  padding-bottom: 1rem;
}
.eventsubtext{
    text-align: start;
}

.eventimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    border-radius: 10px;
    /* max-heig: 50rem; */
}
.shadoweffect{
  /* filter: drop-shadow(0px 10px 10px #ffffff60); */
  box-shadow:
  0px 0.1px 1.6px rgba(255, 255, 255, 0.009),
  0px 0.2px 3.6px rgba(255, 255, 255, 0.003),
  0px 0.3px 6.3px rgba(255, 255, 255, 0.026),
  0px 0.4px 10px rgba(255, 255, 255, 0.063),
  0px 0.6px 15.5px rgba(255, 255, 255, 0.145),
  0px 0.7px 24.1px rgba(255, 255, 255, 0.196),
  0px 1.1px 40px rgba(255, 255, 255, 0.427),
  0px 2px 80px rgba(255, 255, 255, 0.35)
;
}
.eventimgcontainer{
padding-bottom: 1rem;
}


/* read more button */
.buttoncontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
    position: relative;
  }
  .checkbox{
    position: absolute;
    top: 0;
    width: 7rem;
    cursor: pointer;
    opacity: 0;
  }
  .kidssubtext,
  .adultsubtext,
  .researchsubtext,
  .eventsubtext{
    display: none;

  }
  .checkbox:checked + .kidssubtext,
  .checkbox:checked + .adultsubtext,
  .checkbox:checked + .researchsubtext,
  .checkbox:checked + .eventsubtext{
    display: block;
  }
  .eventsubtext{
    background-color: #ffffff15;
    border-radius: 10px;
    border: 1px solid #ffffff50;
    padding: 0.75rem;
  }
  /* .checkbox:checked{
    top: 9rem;
  } */
  .readmore{
    text-decoration: underline;
  }
  




@media (min-width :767px){
    .eventcontainer{
        max-width: 1440px;
        }
        .eventimgcontainer{
            margin: 0 auto;
            width: 100%;
            height: fit-content;
        }
.evolutionimgcontainer{
  width: 75%;
}
  
body{
  transform: translate3d(0, 0, 0);}

}

