@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');


:root {
    --beige-main: #E6D6B5;
    --text-main: #0c0e0e;
    --background-grey: #1E1E1E; 
  
  }

  *,
*::before,
*::after {
 box-sizing: inherit;
}
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    
  }
body{
  scroll-behavior: smooth;
  animation: fadeIn 1s;
  }
  main{
    padding-bottom: 2rem;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  h1,
  h2{
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  
  }
  .headexhibitiontext{
    font-weight: 600;
  }
 

  .logo a img{
    max-width: 5rem;
    display: block;
    width: 100%;
  }

  body{
    background: rgb(241, 241, 241);
    margin: 0;
  }
  .header{
    position: sticky;
    top:0;
    z-index: 100;
    width: 100%;
    background: var(--beige-main);
    padding: 0 2rem;
    border-bottom: 1px solid black;
  }
  .headercontainer{
    display:flex;
    justify-content: space-between;
    align-items: center;  
    width: 90%;
    margin: 0 auto;
  }
.headertext{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1rem;
  font-family: 'Indie Flower', cursive;
}

.heroimg {
  height: 7rem;
  width: 100%;
}
  .logo a{
    display: block;
  }

  .navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    margin: 0;
  }


  
  .menu li{
    list-style-type: none;
  }
  .menu li a{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    color: black;
    text-decoration: none;
    display: block;
    padding: 2.5rem 2rem;
    font-size: 1rem;
    line-height: 1;
    
  }
  .menu li a:hover {
    text-underline-offset: 0.5rem;
    text-decoration: underline 1px white;
  }
  .hamburger{
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transform: 0.3s;
}
.hamburger::before,
.hamburger:after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #fff;
    transition: 0.3s;
}
.hamburger:before {
    top: -10px;
    width: 20px;
    color: black;
}
.hamburger:after {
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}
.hamburger,
.toggle-menu{
    display: none;
}
 .navigation input:checked ~ .hamburger {
    background-color: transparent;

 }
 .navigation input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
 }
 .navigation input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
 }
 .navigation input:checked ~ .menu {
    right: 0;
    
 }

footer{
  background-color: #E6D6B5;
}
.footercontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.leftdiv{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.infotext{
  text-align: start;
}
.infotext h2,
.testbox h2,
.contactinfo h2{
  text-align: center;
}

.rightdiv{
  display: flex;
  flex-direction: column;
}

.openhour,
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.openhour ul li,
.contactinfo ul li {
  text-decoration: none;
  list-style-type: none;
}
.contact-info{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contactul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.footerh3{
  text-align: center;
}
.footerul{
  width: 80%;
}
.days{
  display: inline-block;
  min-width: 9rem;
}






 @media screen and (max-width:767px){
    .hamburger,
    .toggle-menu{
        display: block;
    }
    .header{
        padding: 10px 20px;
    }
    .headercontainer{
      width: 100%;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: var(--background-grey);
        width: 300px;
        height: 100%;
        padding-top: 65px;
    }
    .menu li {
        width: 100%;
    }
    .menu li a,
    .menu li a:hover {
        padding: 30px;
        font-size: 24px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
        color: white;

    }
 }

 @media screen and (min-width:767px){
 
 .header{
  position: relative;
  /* top: none; */
  z-index: 0;
 }
  .headertext{
  font-size: 2rem;
}
.heroimg{
  height: 20rem;
}

footer{
    height: 100%;
    border-top: 1px solid #000000;
}
.footercontainer{
  flex-direction: row;
  justify-content: space-around;

}
.rightdiv{
  justify-content: space-around;
  padding: 1rem 0;
}
.infotext,
.infotext h2
{
  text-align: start;
  width: 65%;

}
.leftdiv{
  margin: 0;
  text-align: start;
  width: 40%;
  justify-content: space-between;
  padding: 1rem 0;
}
.testbox{
  display: flex;
  flex-direction: column;
}
.footerul{
  width: 100%;
}
.days,
.hours {
  font-size: 1.2rem;
  line-height: 35px;
}
.contactul{
  line-height: 24px;
}
.navigation ul li:nth-child(2) a {
  padding: 8px;
  border: 1px solid #00000090;
}
 }

